
.title-landing{
    font-size: 2em;
    font-weight: 800;
}

.subtitle-landing{
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 600;
}



.pol{
    font-size: 0.7em;
    margin-left: 2em;
}

.img-banner{
    width: 100%;
}